.Frontpage {
  background-color: var(--darkBlue);

  width: 100%;
  height: 100vh;
}
.Frontpage .container {
  width: var(--container);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-image: url("../../media/main-photo-removedbg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
